
/*----------------------------------------Fonts--------------------------------------*/


@font-face {
  font-family:GothamBold;
  src:url("Font/GothamBold.ttf");
}
@font-face{
  font-family:GothamBook;
  src:url("Font/GothamBook.ttf");
}
/*------------------------------------------------------------------------------------*/

/*---------------------------------------Tags-----------------------------------------*/

footer{
  padding-top: 8em;
  margin-top: 15em;
  background-color: #b5b1b5;
}
h1{
  font-family: GothamBold,Arial,sans-serif;
  font-weight:normal;
  font-style:normal;
  color: #9f71a0;
}
a{
  font-family: GothamBold,Arial,sans-serif;
  font-weight:normal;
  font-style:normal;
}

/*------------------------------------------------------------------------------------*/

/* -----------------------------------------navigation--------------------------------*/
nav{
  background-color: #f5dcf7;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  color: white ;
}
.naviLink:hover{
  color: white;
}
.NavSpace{
  margin-top: 10em;
}
.NavUnderTitleColour{
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: #f5dcf7;
}


/*------------------------------------------------------------------------------------*/
/*--------------------------------------Forms-Css-------------------------------------*/
.FormSpacing{
  margin-top : 1em;
}
/*------------------------------------------------------------------------------------*/
/*----------------------------------------Index---------------------------------------*/
.paragraph{
  font-family: GothamBold,Arial,sans-serif;
  font-weight:normal;
  font-style:normal;
  line-height: 1;
  padding-left: 2em;
}
.Spacing{
  padding-top:4em;
}
.notices{
  font-family: GothamBook,Arial,sans-serif;
}
#AboutUsImage{
  height: 100%;
  width: 28em;
}
#canceledlecImg{
  height: 100%;
  width: 20em;
}
#carouselSpacing{
  width: 100%;
}

#CansLocation{
  margin-top: 3em;
}
#logoimage{
  width: 20em;
  height: 100%;
}
/*------------------------------------------------------------------------------------*/

/*----------------------------------------Login---------------------------------------*/
#LoginImage{
   height: 100%;
  width: 28em;
  padding-top: 5em;
  padding-left: 3em;
}
#LoginTitleSpacing{
  padding-left:5em;
}
#LoginEmailSpacing{
  margin-right: -4em;
  margin-left:  -4em;
}
#LoginPassSpacing{
  margin-right: -4em;
  margin-left:  -4em;
}
/*------------------------------------------------------------------------------------*/

/*--------------------------------------Portfolio-------------------------------------*/

.portfolioImg{
  width : 15em;
  height: 100%;
}
#portfolioLogoImg{
  height: 100%;
  width: 24em;
  margin-top: -9em;
}
/*------------------------------------------------------------------------------------*/
